body,a{color:#333333;}
.fc01{color:#5d5d5d;}
.fc02,.fc02 a{color:#9c9c9c;font-size:12px;}
.fc03,.fc03 a,.fc04,.fc04 a,.fc11 a{color:#5183d9;}
.fc05{color:#333333;}
.fc06,.fc07{color:#666666;}
.fc08{color:#626262;}
.fc00,.fc09{color:#000000;}
.fc10{color:#e4e4e4;}
.bdc0{border-color:#e4e4e4;}
.bdc1{border-color:#666666;}
.bdc9t{border-top-color:#ffffff;}
.bdc9r{border-right-color:#ffffff;}
.bdc9b{border-bottom-color:#ffffff;}
.bdc9l{border-left-color:#ffffff;}
.bgc0,.bgc9:hover,.bgc9.js-bgc9-hover{background-color:#eeeeee;}
.bgc1{background-color:#ffffff;}
.bgc2{background-color:#dddddd;}
.bgp0{background-image:url(http://b.bst.126.net/newpage/style/nblog/4178/img/-1.gif);}
.nb-body{background:url(http://img.bimg.126.net/photo/QpaNISmNh2Nq_XRv_KDRsg==/5775585047126545857.jpg) #dddddd no-repeat center top ;}
.nb-bar{background:none #dddddd repeat left top;}
.nb-top{background:none transparent no-repeat center top;}
.nb-top .h{height:99px;}
.nb-top .t{top:31px;left:26px;font-family:Î¢ÈíÑÅºÚ;color:#4a4a4a;}
.nb-top .n{font-size:32px;}
.nb-top .d{font-size:18px;}
.nb-nav .wkg{background:url(http://img.bimg.126.net/photo/kfVSwefaGZe7oeUV8SAyow==/5782903396520893920.jpg) transparent no-repeat center bottom;}
.nb-nav .h{height:71px;line-height:71px;}
.nb-nav .c{margin-left:35px;}
.nb-nav .i{width:79px;font-weight:normal;font-size:12px;}
.nb-nav .i:hover{font-weight:normal;font-size:12px;color:#000000;background:url(http://img.bimg.126.net/photo/uxr5ncfDgsRHm-vdVkMGeA==/5791347645822216216.jpg) transparent no-repeat center center;}
.nb-nav .selected{background:url(http://img.bimg.126.net/photo/uxr5ncfDgsRHm-vdVkMGeA==/5791347645822216216.jpg) transparent no-repeat center center;}
.nb-nav .selected .i,.nb-nav .selected .i:hover{font-weight:normal;font-size:12px;color:#000000;background:none;}
.nb-smt{display:block;background:url(http://img.bimg.126.net/photo/nBndZi1iY79a-GLIaUZ5wA==/5782903396520893963.jpg) transparent no-repeat center bottom;}
.nb-smt .h{height:39px;}
.nb-cnt .wkg{background:url(http://img.bimg.126.net/photo/_dcenFBH8YG68SQHjQGRNg==/5775585047126545876.jpg) transparent repeat-y center top;}
.nb-cnt .wl{width:50px;}
.nb-cnt .lg{display:block;background:none transparent repeat left top;}
.nb-cnt .wr{width:50px;}
.nb-cnt .rg{display:block;background:none transparent repeat right top;}
.nb-cnt .wc{margin:0 25px 0 25px;min-height:560px;_height:560px;}
.nb-fot{background:url(http://img.bimg.126.net/photo/tBtt8IHW2r09TDIpOeHAZA==/5782903396520893964.jpg) transparent no-repeat center top;}
.nb-fot .h{height:146px;}
.nb-fot .k{padding-top:65px;}
.nb-mdl{margin:10px 5px;border:1px none #aaaaaa;}
.nb-mdl .th{height:25px;}
.nb-mdl .bh{height:0px;}
.nb-mt .tm{top:0;right:10px;line-height:25px;}
.nb-mt .tc{margin:0 10px 0 10px;height:25px;line-height:25px;font-size:12px;font-weight:bold;background:none transparent repeat-x center top;}
.nb-mt .tc .thide{font-size:12px;}
.nb-mt .tl{width:10px;background:none transparent no-repeat left top;}
.nb-mt .tr{width:10px;background:none transparent no-repeat right top;}
.nb-mc .cc{margin:0 10px 0 10px;background:none transparent repeat center top;}
.nb-mc .cl{width:10px;background:none transparent repeat-y left top;}
.nb-mc .cr{width:10px;background:none transparent repeat-y right top;}
.wsy,.wkg{width:1004px;margin:0px auto;}
.bdc9t{border-top-color:#ffffff;}
.bdc9r{border-right-color:#ffffff;}
.bdc9b{border-bottom-color:#ffffff;}
.bdc9l{border-left-color:#ffffff;}
.bgc1{background-color:#ffffff;}
.nb-mdl-n{color:#535353;}
.nb-mdl-n a{color:#535353;}
.nb-mdl-n .fc02,.nb-mdl-n  .fc02 a{color:#8b8b8b;font-size:12px;}
.nb-mdl-n .fc03,.nb-mdl-n .fc03 a,.nb-mdl-n .fc04,.nb-mdl-n .fc04 a,.nb-mdl-n .fc11,.nb-mdl-n .fc11 a{color:#7f7f7f;},.nb-mdl-n .fc11 a{color:#7f7f7f;}
.nb-mdl-n .fc05{color:#535353;}
.nb-mdl-n .fc06,.nb-mdl-n .fc07{color:#666666;}
.nb-mdl-n {margin:10px 5px;border:1px none #aaaaaa;}
.nb-mdl-n .th{height:33px;}
.nb-mdl-n .bh{height:0px;}
.nb-mdl-n .nb-mt .tm{top:0;right:10px;line-height:38px;}
.nb-mdl-n .nb-mt .tc{margin:0 10px 0 0px;height:33px;line-height:38px;font-size:12px;font-weight:bold;background:none transparent repeat-x center bottom;}
.nb-mdl-n .nb-mt .tc .thide{font-size:12px;}

.nb-mdl-n .nb-mt .tr{width:10px;background:none transparent no-repeat right top;}
.nb-mdl-n .nb-mc .cc{margin:0 0px 0 0px;background:url(http://img.bimg.126.net/photo/fThxEMaef8hBJkFVC8qxOQ==/5775585047126545926.jpg) transparent repeat-x center top;}


.nb-mdl .mdl_t_t{display:none;}
.nb-mdl .mdl_t_t_x a{display:none;}
.nb-mdl-n .mdl_t_t{display:block;}
.nb-mdl-n .mdl_t_t_x a{display:block;}
.nb-top .d{text-align:left;text-indent:0.2em;padding-left:0;}