<?xml version="1.0" encoding= "utf-8"?>
<Guide>
	<Page  Attr="1" Title = "添加新的收藏" PagePic = "\Html\Tips\images\tips_show1.png">
		<Message>点击首页左上角的“添加收藏”按钮，首页下方将列出财金汇目前支持的所有金融机构站点。点击站点的图标，即可收藏这个站点。</Message>
	</Page>
	<Page  Attr="2" Title = "访问站点" PagePic = "\Html\Tips\images\tips_show2.png">
		<Message>鼠标指针停留在已收藏的站点图标上时，会显示该站点的入口列表。点击列表中的一个选项，财金汇将开启新的标签页访问这个站点入口。</Message>
	</Page>
	<Page  Attr="3" Title = "安全加密的访问" PagePic = "\Html\Tips\images\tips_show3.png">
		<Message>在访问一个页面的时候，如果页面标签的图标上出现“锁”图标，并且边框变成绿色，那么这个页面是一个经过验证的安全页面，您提交到这个页面的信息已经加密保护。</Message>
	</Page>
	<Page  Attr="4" Title = "添加事件" PagePic = "\Html\Tips\images\tips_show4.png">
		<Message>在提醒页中，点击其中的“添加事件”按钮，或者点击日历格子中的空白部分，将会弹出添加事件对话框，您可以添加新事件，并设定时间、描述、重复、提醒等属性。</Message>
	</Page>
	<Page  Attr="5" Title = "修改事件" PagePic = "\Html\Tips\images\tips_show5.png">
		<Message>在提醒页中点击日历格子中的某个事件，将弹出修改事件对话框，您可以修改事件的属性，或者删除这个事件。</Message>
	</Page>
	<Page  Attr="6" Title = "设置" PagePic = "\Html\Tips\images\tips_show7.png">
		<Message>点击财金汇右上角的“菜单按钮”，选择“设置”菜单项，您可以通过设置对话框对泡泡提醒和更新属性进行配置。</Message>
	</Page>
</Guide>
