/*-----------------------------------// 全局样式 //-----------------------------------*/
body, td, th { font-size: 12px; color: #444; line-height:22px; }
body { margin:0px;  background:url(../images/bj.gif) top repeat-x;}
a { font-size: 12px; color: #444; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; color: #444; }
a:hover { text-decoration: underline; color:#06c; }
a:active { text-decoration: none; color: #444; }
a{blr:expression(this.onFocus=this.blur())} /*for IE*/
a{outline:none;} /*for Firefox*/
/*-----------------------------------// 页面样式 //-----------------------------------*/
main_div { margin:0 auto; z-index:100}
#main_con { width:911px; clear:both; margin:0 auto; overflow:hidden; background:#f0f8fa; padding-top:6px; }
/*--- 头部div ---*/
.logo_l{ width:911px;height:75px;overflow:hidden;zoom:1;}
#header { width:911px; height:1px; margin:0 auto; background:url(../images/logo_bj.jpg) no-repeat top;}
#logo {width:520px; height:103px; overflow:hidden; padding-top:10px; float:left;}
#top_text { position:absolute; width:320px; height:25px; line-height:25px; margin-left:740px; margin-top:-50px; color:#fff; }
#top_text a, #top_text a:visited { font-size:12px; font-weight:bold; color:#fff; }
#banner {clear:both;  clear:both; width:911px; height:auto; margin:0 auto; overflow:hidden;}
/*--- 导航 ---*/
#nav { width:911px; height:47px; line-height:47px; margin:0 auto; font-family:"Microsoft Yahei", Arial; background:url(../images/nav_bj.jpg) no-repeat;}
.nav_l { display:none; }
.nav_r { display:none; }
.navigation { padding-left:16px; }
.navigation li { float:left; width:100px; text-align:center; position:relative; padding-right:1px; z-index:100; background:url(../images/li_line.gif) no-repeat right top; }
.navigation li a, .navigation li a:visited { display: block; text-decoration: none; color: #fff; }
.navigation li a:hover, .navigation li.hover a { color: #0e87ac; background:url(../images/nav_2.jpg) no-repeat; text-decoration: none; width:100px;}
.navigation li.hover a:visited { _color:#0e87ac; }
.navigation ul { display:none; }
.navigation ul li { background-image:none; background-color:#969696; line-height:25px; margin:0px; padding: 0px; }
.navigation ul li a, .navigation ul li a:hover { background-image:none; color:#0e87ac; width:100px; margin:0px; padding: 0px; }
.navigation li ul { width:100px; display:none; position:absolute; top:47px; left:0px; margin: 0px; padding:0; z-index:100; background-color:#969696; }
.navigation li ul ul { left:100px; top:20px; z-index:200; top:0; }
.navigation li ul li { background-color:#cce9f1; border:0; background-image:none; }
.navigation li ul li a { color:#0e87ac; font-weight:normal; text-align:center; text-indent:0px; background-image:none; }
.navigation li ul li a:visited { _color:#0e87ac; background-image:none; font-weight:normal; color:#0e87ac; }
.navigation li ul li a:hover { color:#0e87ac; background-image:none; background:#f1f1f1; }
.navigation li ul li.hover { background:#f1f1f1; background-image:none; width:100px; }
.navigation li.hover ul a { background-image:none; }
#nav_bot { width:938px; height:13px; background:url(../images/menu_bottom.gif) repeat-x; }


/*---左侧---*/
#left { width:252px; float:right; height:auto; overflow:hidden; background:#fff; margin-right:4px; _margin-right:2px;}
#left .list_con, #left .login_main, #left .newprod_con, #left .prod_type_n, #left .cart_con, #left .lagbar, #left .recent_con, #left #mess_main, #left .cartlist, #left .langbar,#left .marquee_list,#left .com_con,#left .flash_image {border-top: 0px;
border-right: 1px solid #cecece;
border-bottom: 1px solid #cecece;
border-left: 1px solid #cecece;
_overflow:auto; zoom:1;
}
#left .prod_type{ background:#f6f4e8; padding-bottom:10px;}
#left .list_con{ padding-bottom:10px;}
/*---右侧---*/
#right { width:643px; float:left; margin-left:4px; overflow:hidden; padding-bottom:10px; background:#fff;_margin-left:2px; }
#right .list_con, #right .login_main, #right .newprod_con, #right .prod_type, #right .prod_type_n, #right .cart_con, #right .lagbar, #right .recent_con, #right #mess_main, #right .cartlist, #right .langbar,#right .marquee_list,#right .com_con{border-top: 0px;
border-right: 1px solid #cecece;
border-bottom: 1px solid #cecece;
border-left: 1px solid #cecece;
_overflow:auto; zoom:1;}
#right .list_con{ padding-bottom:10px;}
#right1 { width:643px; float:left; margin-left:4px; overflow:hidden; background:#fff;_margin-left:2px; }
/*---首页产品样式---*/
.newprod_list { padding-bottom:6px; padding-top:7px; padding-left:3px; float:left; line-height:1.5em; margin:0 auto; text-align:center; width:136px; _padding-left:1px; }
#left .newprod_list { padding-bottom:6px; padding-top:7px; padding-left:8px; float:left; line-height:1.5em; width:115px; margin:0 auto; }
.blk_t, #left .art_list_title { height:35px; line-height:35px; background:url(../images/airconditioning_15.jpg) no-repeat; text-indent:25px; color:#fff; font-size:12px; font-weight:bold; overflow:hidden; font-family:"Microsoft Yahei", "华文细黑", "黑体", "宋体", Arial; }
#right .blk_t, #right .art_list_title { height:35px; line-height:35px; font-size:12px; color:#069; background:url(../images/airconditioning_17.jpg) no-repeat; overflow:hidden; font-family:"Microsoft Yahei", "华文细黑", "黑体", "宋体", Arial; text-indent:45px; }
.prod_type_title { background-image:url(../images/cats_28.jpg); color:#fff; }
.menutitle { background-image:url(../images/house_16.jpg); }
.cart_con { height:23px; line-height:23px; padding-top:5px; text-align:center; }
.cart_con a, .cart_con a:visited { color:#444; display:block; }
.list_con, .newprod_con, .cart_con, .prod_type { }
#right .list_con, #right .newprod_con, #right .cart_con, #right .prod_type, #right .recent_con,#right .login_main,#right .langbar,#right #mess_main{border-top: 0px;
border-right: 1px solid #cecece;
border-bottom: 1px solid #cecece;
border-left: 1px solid #cecece;
overflow:hidden;}
#right .login_con { border:0; width:260px; margin:0 auto; padding-bottom:5px; }
#left .login_con{ padding-bottom:5px;}
.list_bot { background:url(../images/left_bj1.jpg); height:15px;}
#right .list_bot { background:url(../images/left_bj1.jpg); height:15px;}
#right1 .list_bot { display:none; }
.list_con ul { line-height:2em; margin-left:10px; }
.list_con ul li { background-image:url(../images/airconditioning_29.gif); text-indent:10px; background-position:0px 10px; background-repeat:no-repeat; }
#right .list_con ul li { width:300px; float:left; overflow:hidden; }
/*--标题--*/
#right2 .blk_t, #right2 .contenttitle, #right2 .art_list_title { height:35px; line-height:35px; font-size:12px; color:#069; text-indent:35px; background:url(../images/airconditioning_18.jpg) no-repeat; overflow:hidden; font-family:"Microsoft Yahei", "华文细黑", "黑体", "宋体", Arial; }
/*--底部--*/
.footermain {width:911px; margin:0 auto;}
#footer { clear:both; color:#fff; line-height:1.5em; text-align:center; background:url(../images/footer.jpg) top repeat-y #FFF;}
#footer .list_bot { display:none; }
#footer a, #footer a:visited { color:#fff; }
.copyright { padding-bottom:10px; padding-top:10px; width:890px; margin:0 auto;}
/*--产品--*/
.prodthumb, .newprod_pic, .newprod_pic img { width:95px; height:85px; }
.prod_list_pic img { }
#left .prodthumb, #left .newprod_pic { width:65px; height:55px; }
.newprod_pic { padding:5px; background-color:#fff; border:#E6E6E6 1px solid; float:left; margin-left:15px; _margin-left:4px;}
#left .newprod_pic { margin-top:6px; margin-left:10px; _margin-left:5px;}
.cartlist_pic img { margin:0px; }
.newprod_name { width:135px; height:22px; line-height:22px; overflow:hidden; }
#left .newprod_name { width:100px; height:22px; line-height:22px; overflow:hidden; }
.newprod_name a { color:#444; font-weight:bold; }
.newprod_name a:visited {color:#444; }
.newprod_price { width:135px; height:18px; line-height:18px; color:#F15244; font-weight:bold; overflow:hidden; }
#left .newprod_price { width:100px; height:18px; line-height:18px; color:#F15244; font-weight:bold; overflow:hidden; }
.newprod_intr { color:#828282; overflow:hidden; }
#left .newprod_intr { width:90px; height:18px; overflow:hidden }
a img { border:0px; }
.newtopic { line-height:2em; font-size:12px; }
.newtopic, .newtopic a { }
.newtopic img { float:left; margin-right:10px; margin-top:7px; }
#right2 { clear:both; }
#sta_content { font-size:12px; line-height:2em; text-align:justify; text-justify:inter-ideograph; margin-bottom:10px; padding-left:10px; width:625px; overflow:hidden; padding-top:8px; }
#sta_content p { font-size:12px; text-indent:22px; }
.neirongshow { padding-top:6px; width:732px; overflow:hidden; }
.newprod_xx, .newprod_gg { cursor:pointer; width:58px; height:15px; line-height:15px; background-image:url(../images/xxx_47.jpg); float:left; }
.newprod_gg { width:71px; background-image:url(../images/xxx_49.jpg); margin-left:10px; }
.art_list_search { position:absolute; margin-left:366px; margin-top:-28px; }
.art_list_time { color:#646464; }
#pagerwrapper { clear:both; margin-bottom:10px; }
.prod_list_con { padding-top:7px; padding-left:7px; }
.pic_list_list, .prod_list_list { width:153px; height:200px; overflow:hidden; }
.prod_list_list { float:left; line-height:1.5em; }
.prod_list_pic { width:120px; height:120px; }
.prod_list_pic img { width:120px; height:120px; }
.prod_list_pic { border:#E9E9E9 1px solid; background:#FFF; }
.prod_list_name, .prod_list_type { text-align:center; height:22px; line-height:22px; margin-top:5px; overflow:hidden; width:120px; }
.prod_list_intr { display:none; width:135px; margin:0 auto; padding-top:6px; color:#999999; padding-bottom:6px; height:68px; overflow:hidden; }
.prodview_info { padding-left:15px; height:30px; line-height:30px; list-style:25px; overflow:hidden; }
.prodview_pic, .prodview_pic img { width:230px; height:230px; }
.prodview_pic { float:left; margin-right:15px; margin-left:20px; border:#CCCCCC 2px solid; background:#FFF; }
.prodview_prices { line-height:25px; _line-height:25px; font-family:"宋体"; }
* html input.add_to_cart_b_view { margin-top:10px; }
*+html input.add_to_cart_b_view { margin-top:4px; }
.prodview_prices img { float:left; }
.prodview_prices input { border: 1px solid #999999; width:47px; height:16px; line-height:16px; padding-left:5px; padding-right:5px; }
.prodview_prices br { line-height:5px; height:5px; }
.prodview_content { clear:both; padding-left:15px; padding-top:8px; line-height:1.7em;  width:630px; overflow:hidden; }
.pic_list_list { float:left; }
.pic_list_pic, .pic_list_pic img { width:120px; height:97px; }
.pic_list_pic { border:#CCCCCC 3px solid; margin:0 auto; }
.pic_list_name { height:27px; line-height:27px; text-align:center; }
.ordernow { position:absolute; margin-left:540px; margin-top:-28px; }
.cartlist_list { padding-top:5px; }
.cartlist_pic, .cartlist_pic img { width:75px; height:75px; }
.cartlist_pic { border:#CCCCCC 2px solid; margin-left:20px; _margin-left:10px; margin-right:20px; float:left; }
.cartlist_nametype { width:395px; float:left; line-height:3em; padding-right:15px; }
.cartlist_nametype a { width:390px; text-align:left; line-height:22px; height:22px; overflow:hidden; }
.cartlist_no { line-height:3em; }
.cartlist_no input, #amount { border:0px; margin:0px; padding:0px; width:47px; height:16px; line-height:16px; padding-left:5px; padding-right:5px; border:#999999 1px solid; }
.cartlist_intr { font-family:"宋体"; clear:both; line-height:1.5em; padding-top:5px; padding-bottom:7px; padding-left:25px; border-bottom:#CCCCCC 1px dashed; }
/*--订单--*/
.new_order_name { padding-right:15px; }
#prepayform { padding-top:20px; padding-bottom:20px; }
.order_1, .order_2, .order_3, .order_4, .order_5 { width:195px; height:30px; line-height:30px; float:left; margin-left:10px; overflow:hidden; }
.order_1 { margin-left:20px; }
.order_2 { width:117px; }
.order_3 { width:117px; }
.order_4 { width:117px; }
.order_5 { width:67px; }
.ordertotle { width:449px; height:30px; line-height:30px; float:left; margin-left:20px; }
.o_b1 { height:2px; font-size:1px; border-bottom:#CCCCCC 1px solid; clear:both; }
.o_b { height:2px; font-size:1px; border-bottom:#CCCCCC 1px dashed; clear:both; }
.addr { border-bottom:#DEDEDE 1px solid; height:30px; line-height:30px; margin-top:4px; }
.addr1 { padding:0 20px; float:left; margin-left:20px; _margin-left:10px; height:30px; line-height:30px; background-color:#DEDEDE; text-align:center; color:#A92D2D; }
.addr2 { border:#DEDEDE 1px solid; padding:5px; line-height:2.5em; border-top:0px; }
.addr2 a { color:#06c; }
.submit_order { margin:0px; padding:0px; border:0px; font-size:12px; height:25px; line-height:25px; width:87px; background-image:url(../images/sendorder.jpg); cursor:pointer; margin-top:7px; margin-bottom:7px; margin-left:20px; text-align:center; color:#fff; }
.ddcx { width:50px; }
/*--搜索--*/
#article_keyword, #prd_keyword, #download_keyword { border:0px; padding:0px; margin:0px; width:140px; height:22px; line-height:14px; padding-left:5px; padding-right:5px; background:url(../images/kuang.jpg) no-repeat; }
#articlesearch_submit, #prdsearch_submit, #downloadsearch_submit { border:0px; padding:0px; margin:0px; width:77px; height:22px; line-height:18px; background:url(../images/searchbot.jpg) no-repeat; color:#fff; font-size:12px; font-weight:bold; margin-left:15px; text-indent:10px; cursor:pointer; }
.recent { line-height:1.7em; }
.recent_con { padding-top:6px; padding-left:6px; padding-right:6px; }
.recent_list { text-indent:4px; border-bottom:#CCCCCC 1px dashed; padding-bottom:5px; margin-bottom:5px; }
.prod_type { padding-top:4px; }
.prod_type ul { width:90%; margin:0 auto; float:none; }
.prod_type ul li { padding-bottom:4px; margin-bottom:5px; border-bottom:#8B9CBD 1px dashed; text-indent:20px; }
.prod_type ul li a { display:block; height:25px; line-height:25px; background-image:url(../images/airconditioning_029.gif); background-position:5px 6px; background-repeat:no-repeat; }
.prod_type ul li a:visited { }
.prod_type ul li a:hover, .prod_type ul li.act a { }
.prod_type ul ul { display:none; }
.prod_type ul ul li { text-indent:20px; margin:0; padding:0; }
.prod_type ul ul li a { }
/*--留言--*/
#left .mess_input input { height:18px; line-height:18px; width:150px; }
#left .mess_textarea textarea { width:150px; height:50px; }
#left .mess_submit { padding-left:75px; }
#left .message_bg { display:none; }
#left .mess_list { color:#666; margin-bottom:3px; }
#right .mess_submit, #right2 .regformsub { padding-left:470px; }
#right .mess_input input { width:480px; height:22px; line-height:22px; }
#right .mess_textarea textarea { width:480px; height:150px; }
#right .mess_submit { width:0px; text-align:center; }
#right .message_bg { width:622px; height:263px; background:url(../images/message_pic.jpg) no-repeat; display:none; }
#right2 .mess_submit, #right2 .regformsub { padding-left:0px; }
#right2 .mess_input input { width:480px; height:22px; line-height:22px; }
#right2 .mess_textarea textarea { width:480px; height:150px; }
#right2 .mess_submit { width:560px; text-align:right; }
#right2 .message_bg { width:622px; height:263px; background:url(../images/message_pic.jpg) no-repeat; display:none; }
#mess_main { padding-left:4px; padding-top:20px; overflow:hidden;}
.mess_list { clear:both; overflow:auto; zoom:1; margin-bottom:10px; }
.mess_title, .mess_input, .mess_textarea { float:left; display:inline; }
.mess_title { color:#444; width:60px; text-align:right; margin-right:15px; }
.mess_input input, .mess_textarea textarea { }
.mess_textarea textarea { overflow:auto; }
#right2 .yzm_input input { width:416px; }
.subd { width:87px; border:0px; height:25px; line-height:19px; background:url(../images/sendorder.jpg) no-repeat; cursor:pointer; margin-top:7px; margin-bottom:7px; margin-left:20px; text-align:center; color:#fff; }
#right .subd { margin-left:0px; }
.regformsub input { width:87px; border:0px; height:25px; line-height:25px; background-image:url(../images/sendorder.jpg); cursor:pointer; margin-top:7px; margin-bottom:7px; margin-left:20px; text-align:center; color:#fff; border:0px; }
.status { padding:10px; background-color:#FFFBD0; border:#EE9C5F 1px solid; color:#666666; }
#yzmshow { position:absolute; float:left; display:none; margin-left:25px; margin-top:15px; z-index:3; }
#yzmshow img { height:18px; margin-top:2px; border:#ccc 2px solid; }
#loginform_stat { height:25px; line-height:25px; width:90%; margin:0 auto; display:none; }
.more { display:none; }
/*counter*/
.counter { text-indent:10px; height:25px; line-height:25px; color:#fff; background-color:#D0BC8D; background-image:url(../images/counterbg_67.jpg); background-repeat:no-repeat; }
.counter span { float:left; }
#counterpic { float:left; margin-top:-1px; }
#counterpic img { float:left; margin-left:2px; margin-top:5px; }
.jsq { float:left; min-width:12px; margin-right:4px; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif; line-height:14px; text-align:center; background-color:#fff; color:#000; text-indent:0px; margin-top:6px; }
/*--qq--*/
.qq_list_con ul li { margin-bottom:5px; clear:both; width:280px; }
#left .qq_list_con ul li { margin-bottom:5px; _margin-bottom:8px; clear:both; width:200px; }
#right .qq_list_con ul li { float:left; margin-right:10px; margin-bottom:5px; clear:none; _margin-right:12px; _margin-bottom:4px; }
#left .qq_list_con { padding-top:10px;border-top: 0px;
border-right: 1px solid #cecece;
border-bottom: 1px solid #cecece;
border-left: 1px solid #cecece;}
#right .qq_list_con { padding-top:10px;border-top: 0px;
border-right: 1px solid #cecece;
border-bottom: 1px solid #cecece;
border-left: 1px solid #cecece;}
.qq_list_con { padding-bottom:5px; zoom:1; overflow:auto; overflow-x:hidden; overflow-y:hidden; padding:5px;}
/*--友情链接--*/
.flinkbody { padding:15px; }
ul.flink_index { }
ul.flink_index li { padding:6px; background-image:none; float:left; text-indent:0px; width:100px; text-align:center; }
#right ul.flink_index li { padding:6px; background-image:none; float:left; text-indent:0px; width:100px; text-align:center; height:30px; _height:50px; }
ul.flink_index li img { width:88px; margin:0 auto; }
.artview { margin-bottom:10px; clear:both; }
.artview_title { height:40px; line-height:30px; border-bottom:#f5f5f5 2px solid; text-align:center; font-size:16px; font-weight:bold; margin-bottom:6px; }
.artview_info { display: none; text-align:center; }
#.artview_intr { font-size:12px; padding:5px; line-height:1.7em; color:#868686; background-color:#F5F5F5; border:#E5E5E5 1px solid; margin-bottom:10px; text-indent:24px; text-align:justify; text-justify:inter-ideograph; }
.artview_intr { display: none; }
#artview_content { padding:0px 6px; font-size:12px; line-height:2em; text-indent:28px; text-align:justify; text-justify:inter-ideograph; }
#artview_content p { text-indent:28px; }
#artview_content, #artview_content a { font-size:12px; }
/*--用户管理--*/
#adminToolbar { width:100%; height:38px; background:url(../images/admintoolbar_bg.gif) repeat-x; border-bottom:1px solid #000; z-index:99; }
#adminToolbar ul { float:left; text-align:left; height:38px; background:url(../images/admintoolbar_lo.gif) no-repeat; padding-left:150px; }
#adminToolbar ul li { float:left; padding:9px; position:relative; z-index:98; }
#adminToolbar .section { float:left; padding:0 10px; height:18px; line-height:18px; background:url(../images/admintoolbar_bt_bg.gif) repeat-x top; color:#012d5f; border:1px solid #6da5c7; }
#adminToolbar .section:hover { background:url(../images/admintoolbar_bt_bg.gif) repeat-x bottom; color:#a15b00; border:1px solid #dea303; }
.adminToolbar_downmenu { display:none; position:absolute; width:100px; padding:10px; background:#fff; top:29px; left:10px; }
.adminToolbar_downmenu a { display:block; height:24px; line-height:24px; color:#012d5f; }
.admintoolbar_right { float:right; padding-right:40px; line-height:38px; color:#00c6ff; }
.admintoolbar_right a { color:#fff; }
.admintoolbar_right a:hover { color:#00c6ff; }
.mod_toolbar { height:24px; line-height:24px; background:#000; text-align:left; padding-left:5px; z-index:-1; }
.mod_toolbar img { vertical-align: middle; }
.mod_toolbar a { font-size: 11px; color:#FFFFFF; }
.web_bg .sortable_placeholder { display: block; border: 1px solid #efefef; height: 32px; background: #ccc; }
.placeholder { display: block; height: 12px; }
ul { margin:0px; padding:0px; list-style-type:none; }
#left .blankbar { display:none; }
.blankbar {clear:both; }
.blankbar1 {clear:both; }
#pager { margin: 0px auto; margin-top:20px; }
#pager td { color:#999999; padding-left:5px; padding-right:5px; }
#pager td a img { margin-left:2px; padding-right:2px; margin-top:2px; }
p.static_html { font-size:14px; }
p.static_html img { margin:10px; }
.langbar { clear:both; margin:0 auto; padding:10px; text-align:center;}
.langbar a {text-align:center; margin-right:20px;}
.mod_toolbar { line-height:28px; text-align:right; padding-right:5px; z-index:90; opacity: 0.8; filter: alpha(opacity=80); cursor: move; position: absolute; }
.pos_wrapper { position: relative; }
#product_gallery { margin: 8px; }
.product_gallery_pic {
bor der: 3px solid #ececec; margin: 0px 0px 3px 6px; width: 120px; }
#logo .blk_t, #banner .blk_t, #footer .blk_t { display:none; }
.saving_o_b { background:none; background-image:url(../images/saving.gif); cursor:pointer; width:92px; height:21px; line-height:21px; margin:0; padding:0; font-size:12px; border:0; position:absolute; text-align:left; text-indent:30px; color:#fff; }
.order_now_b { background:none; background:url(../images/order.gif) no-repeat; cursor:pointer; width:94px; height:24px; line-height:21px; margin:0; padding:0; font-size:12px; border:0; position:absolute; text-align:left; text-indent:24px; color:#fff; font-weight:bold; }
.Modify_items_b { background:none; background:url(../images/modify.gif) no-repeat; cursor:pointer; width:94px; height:24px; line-height:21px; margin:0; padding:0; font-size:12px; border:0; position:absolute; text-align:left; text-indent:24px; color:#fff; font-weight:bold; }
/*新闻中心*/
#right2 .list_main .list_con .titlelist li, #right .list_main .list_con .titlelist li a, #right .list_main .list_con .titlelist li a:visited { width:700px; color:#444; }
#right2 .art_list_con ul li { width:640px; border-bottom:1px dashed #666; height:30px; line-height:32px; }
#right2 .art_list_con ul li a:hover { width:700px; height:30px; line-height:32px; }
#right2 .art_list_con ul li .l_title { float:left; height:30px; width:476px; overflow:hidden; }
#right2 .art_list_con ul li .n_time { float:right; height:30px; color: #b9b5af; padding-right:12px; }
#right2 .art_list_con ul li .l_title, #right2 .full_bulletin_list li .l_title a, #right2 .full_bulletin_list li .l_title a:visited { font-size:12px; padding-left:5px; }
#right2 .art_list_con ul li .l_title a:hover { color:#429FEC; }
#right2 .art_list_con ul li .art_list_time { float:right; height:30px; color: #b9b5af; padding-right:6px; }
/*公司简介*/
#artview_content1 { padding:0px 6px; font-size:12px; line-height:2em; text-indent:28px; text-align:justify; text-justify:inter-ideograph; }
#artview_content1 p { text-indent:28px; }
#artview_content1, #artview_content1 a { font-size:12px; }
/*--注册--*/
#regform_table input#submit { background-image:url("../images/airconditioning_25.jpg"); border:0 none; color:#FFFFFF; cursor:pointer; font-size:12px; font-weight:bold; height:22px; line-height:15px; margin:5px 0 0 20px; padding:0; width:62px; }
#right .login_all { padding-left:10px; text-align:center; height:30px; line-height:30px; width:250px; clear:both; }
#right1 .login_all { width:250px; }
.reg_bg { background:url(../images/reg_pic.jpg) no-repeat; }
#regform_table { width:700px; margin:0 auto; padding-top:8px; padding-bottom:15px; }
.regform_table_s { width:300px; margin:0 auto; }
#regform_table td { text-align:left; }
#regform_table td.td_sub { padding-left:80px; }
#regform_table input { width:93px; _width:93px; height:18px; line-height:18px; padding-left:8px; padding-right:8px; border:#9CA9C9 1px solid; font-size:12px; color:#666; margin-top:4px; }
/*--登录--*/
.login_info{ height:20px; margin:2px;}
.login_con {  }
.login_top { width:201px; height:6px; font-size:1px; background-image:url(../images/booksell_13.jpg); margin:0 auto; margin-top:5px; display:none; }
.login_left { width:80px; float:left; padding:0; padding-right:20px; height:30px; line-height:30px; text-align:right; }
.login_right { width:145px; float:left; height:30px; line-height:30px; }
.login_right input { margin:0px; border:0px; font-size:12px; color:#333; padding-left:10px; padding-right:10px; height:22px; line-height:22px; background:url(../images/airconditioning_21.jpg) no-repeat; width:86px; margin-top:7px; }
.login_all { padding-left:0px; text-align:center; height:30px; line-height:30px; clear:both; }
.login_all input { margin:0px; padding:0px; border:0px; font-size:12px; font-weight:bold; color:#fff; margin-left:20px; width:62px; height:22px; line-height:15px; margin-top:5px; background-image:url(../images/airconditioning_25.jpg); cursor:pointer; }
.login_all1 { padding-left:9px; height:30px; line-height:30px; padding-right:7px; }
.login_all1 a, .login_all1 a:visited { padding-left:6px; padding-right:6px; padding-top:3px; padding-bottom:3px; height:19px; line-height:19px; background-image:url(../images/bjbj_74.jpg); border:#909090 1px solid; color:#363636; }
.login_all1 a:hover { background-color:#737373; color:#fff; background-image:none; }
.list_con, .newprod_con, .prod_type, .login_con { }
#right1 .login_con { width:250px; margin:0 auto;}
#right1 .login_main{ width:717px; height:350px;}
#right1 .login_info { height:22px; line-height:22px; clear:both; margin-bottom:5px; padding-left:5px; }
.login_info a { border:1px solid #CCC; padding:2px; clear:both; }
input.add_to_cart_b_view { background:none; margin:0; padding:0; border:0; font-size:12px; font-weight:bold; color:#fff; text-indent:24px; width:118px; height:33px; line-height:33px; background:url(../images/addcar_27.jpg) no-repeat; cursor:pointer; }
.list_more { float:right; padding-right:20px; margin-bottom:8px;clear:both; }
.new_orders_list th { line-height:30px; text-align:left; }
.new_orders_list {margin:8px; }
#right2 #sta_content .blk_t { background:url("../images/airconditioning_17.jpg") no-repeat scroll 0 0 transparent; color:#FFFFFF; font-size:12px; height:49px; line-height:38px; overflow:hidden; padding-left:12px; }
/*--- 走马灯样式 ---*/
/*--- 向上 ---*/
.marquee { background: #FFF; overflow:hidden; height: 100px; text-align: center; margin-bottom:8px; padding:0 10px; }
.marquee img { border: 1px solid #E6E6E6; display: block; margin-bottom:5px; }
.marquee p { text-align:left; height:24px; border-bottom:1px dashed #E6E6E6; line-height:24px; padding-left:20px; }
/*--- 左右---*/
.marquee_list { overflow:hidden; text-align:center; margin-bottom:8px; background:#FFF; padding:0 10px; _width:679px; }

.marquee_list img { border:1px solid #E6E6E6; padding:1px; margin:3px; }
/*--图片模块--*/
#left .flash_image { width:250px; _width:250px; overflow:hidden; }
#right .flash_image { width:643px; _width:642px; overflow:hidden; }
#left .pro_over { width:250px; _width:250px; overflow:hidden; }
#right .pro_over { width:643px; _width:640px; overflow:hidden; }
#left .com_con { width:242px; _width:240px; overflow:hidden; padding:5px; }
#right .com_con { width:631px; _width:631px; overflow:hidden; padding:5px;}

.prod_type{padding-top:4px;padding-left:5px;}
/* ---------------公告栏样式----------*/
.bulletin{ height:120px;}
/* ---------------首页公司介绍样式----------*/
.notice_con{ padding:8px;}
/* ---------------语言----------*/
.lngbar_select {border:1px solid #ccc;padding:0 3px;cursor:pointer;padding-right:20px;background:#FFF url(../../../images/down.gif) no-repeat right center;color:#444;} 
.lngbar_option {border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding:3px;background-color:#1a8bad;z-index:1000;position:absolute;display:none;color:#444;} 
.lngbar_option a {display:inline-block;width:100%; color:#444;}



.switch_langbar  {float:right; margin-top:5px; font-weight:bold; margin-right:25px;}
.switch_langbar a:link {color: #fff;text-decoration: none;}
.switch_langbar a:visited {text-decoration: none;color: #fff;}
.switch_langbar a:hover {text-decoration: underline;color: #000;}
.switch_langbar a:active {text-decoration: none;}
