@charset "utf-8";
html {
	overflow:hidden;
	height:100%;
	width: 200%;
	line-height:1.8em;
	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
	font-size:12px;
	color:#105d91;
}

body {
	font:12px/18px;
	height: 100%;
	overflow:hidden;
}
body, ul, li, table, td, tr, tbody, button, dl, dd, dt {
	padding:0;
	margin:0;
}
table {
	border-collapse:collapse;
	table-layout: fixed;
}
th, td {
	white-space: nowrap;
	overflow: hidden;
}
h1 {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #105F92;
	padding: 5px 0px 5px 0px;
}
input {
	background: transparent;
	border: 0;
	color: #43627E;
	width: 160px;
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 5px;
}
input.iDisabled {
	background: url(../images/inputd.png) !important;
}
input, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
	color: #6F7D86;
}
textarea {
	overflow: hidden;
	resize:none;
	background: url(../images/comment.png) bottom right;
	font-size: 12px;
	border: 0;
	width: 165px;
	height: 56px;
}

/* 卷滚条 */
.customScrollBox {
	position:relative;
	margin: 0 0 0 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}
.customScrollBox .container {
	position:relative;
	top:0;
	float:left;
}
.customScrollBox .content {
	clear:both;
}
.dragger_container {
	position:relative;
	width:12px;
	float:left;
	cursor:pointer;
	box-shadow:inset 0 0 10px #BFDBE9;
	-moz-box-shadow:inset 0 0 10px #BFDBE9;
	-webkit-box-shadow:inset 0 0 10px #BFDBE9;
	display: none; /* 这个版本先暂时不管自定义卷滚条的事情 */
}
.dragger{
	position:absolute;
	width:9px;
	height:10px;
	background:#FFFDFD;
	text-align:center;
	margin-left:1px;
	line-height:10px;
	color:#57A5D5;
	overflow:hidden;
	border:1px solid #A2BBC0;
	cursor:pointer;
}
.dragger_pressed {
	position:absolute;
	width:6px;
	height:60px;
	background:#444;
	text-align:center;
	margin-left:1px;
	line-height:60px;
	color:#777;
	overflow:hidden;
	border-left:1px solid #878787;
	border-right:1px solid #000;
	cursor:pointer;
}

/* 顶部 */
#headtabs {
	margin: 0px 0 0 0;
	border: 0;
}
#headtabs .ui-tabs-panel {
	padding: 10px 0 0 0;
}
#tabs {
	border: 0;
	color:#105d91;
	font-family:Arial, Helvetica, sans-serif, "宋体";
	font-size:12px;
}

/* 让标签居中 */
.ui-tabs-nav {
	border-radius: 0;
	text-align: center;
	float: none;
}
.ui-tabs .hui-tabs {
	height: 32px;
	background: none;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	padding:0;
}
.ui-tabs .hui-tabs li {
	float: left;
	padding: 5px 0px 2px 0px;
	border: 0;
	width: 116px;
	height: 24px;
	background: url(../images/tabunselected.png) no-repeat;
}
.ui-tabs .hui-tabs li.ui-tabs-selected {
	padding: 5px 0px 3px 0px;
	background: url(../images/tabselected.png) no-repeat;
}
.ui-tabs .hui-tabs li a {
	padding: 4px 10px 2px 10px;
	float: none;
}
.ui-tabs .hui-tabs li a img {
	vertical-align:middle;
	margin: 0 5px 0 0;
}

/* 左侧 */
#dLeft {
	float: left;
	width: 22%;
	min-width: 165px;
	overflow: hidden;
	border-right: 1px solid #ABC0D1;
}
* html #dLeft {
	width: expression((documentElement.clientWidth < 750) ? "165px" : "22%" );
}
#tabs-1 {
	width: 100%;
	min-width: 750px;
	overflow: hidden;
}
* html #tabs-1 {
	width: expression((documentElement.clientWidth < 750) ? "750px" : "100%" );
}
#dLeftHeader {
	height: 38px;
	background: #E9F1F7;
	font-weight: bold;
	position: relative;
}
#dAllAccounts {
	padding: 8px 0 0 5px;
	cursor: pointer;
}
#accountList {
	border-bottom: 1px solid #A9C2D5;
}
#dLeftHeader img {
	position: absolute;
	top: 7px;
	right: 10px;
}
#dLeftAccount {
	overflow: hidden;
}
#dLeftAccount .customScrollBox{
	overflow-x: hidden;
	overflow-y: auto;
}
#dLeftAccount .customScrollBox .container {
	width: 100%;
	float: left;
}
#dLeftAccount .dragger_container {
	height:490px;
}
.dMainAccount {
	width: 100%;
	height: 26px;
	padding: 5px 0 0 0;
	font-weight: bold;
	position: relative;
	cursor: pointer;
	border-top: 1px solid #A9C2D5;
	background: url(../images/mabg.png);
}
.dMainAccount .sLeftTree {
	width: 8px;
	height: 8px;
	position: absolute;
	top: 12px;
	left: 7px;
}
.dMainAccount .sMAName {
	position: absolute;
	height: 25px;
	overflow: hidden;
	left: 20px;
	top: 5px;
}
.dMainAccount .sMAMore {
	position: absolute;
	height: 26px;
	overflow: hidden;
	right: 105px;
}
.dMainAccount #sImportBill {
	position: absolute;
	width: 70px;
	height: 27px;
	top: 2px;
	right: 35px;
	background: url(../images/daoru.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/daoru.png', sizingMethod='crop');
	cursor: pointer;
}
.dMainAccount .iAccountSetup {
	background: url(../images/edit.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/edit.png', sizingMethod='crop');
	width: 15px;
	height: 15px;
	position: absolute;
	right: 17px;
	top: 8px;
	cursor: pointer;
}
.dAcc1 {
	background: #EDF8FE;
	overflow: auto;
	padding: 5px 0 5px 0;
}
.dAcc2 {
	background: #FFFFFF;
	overflow: auto;
	padding: 5px 0 5px 0;
}
.dAccount {
	clear:both;
	font: bold 12px "宋体";
	padding: 2px 0 2px 10px;
}
.dAccount img {
	float: right;
}
.dSubAccountHead {
	width: 100%;
	height: 10px;
	background: url(../images/sabg.png) repeat-x;
}
.dSubAccount {
	width: 100%;
	line-height: 22px;
}
.dSubAccount .dSubAccountItemFirst {
	background: url(../images/sabg1.png) repeat-x;
	cursor: pointer;
	height: 26px;
	position: relative;
}
.dSubAccount .dSubAccountItem {
	background: #E8EFF3;
	cursor: pointer;
	height: 26px;
	position: relative;
}
.dSAName {
	margin: 0 0 5px 30px;
	position: absolute;
	top: 4px;
}
.dSAAmount {
	float: right;
	clear: right;
	padding: 2px 0px 2px 10px;
}
#dLeftSum {
	font: bold 14px "宋体";
	text-align: center;
	padding: 10px 0 10px 0;
}
#dLeftAdd {
	margin: 10px 0 0 10px;
}

/* 右侧 */
#dRight {
	float: left;
	overflow: hidden;
}
#dRightButtons {
	height: 30px;
	margin: 10px 0 2px 10px;
}

/* 按钮 */
.nav_ul {
	float: left;
	display: inline;
	overflow: hidden;
	min-width: 420px;
}
.nav_ul li {
	cursor:pointer;
	float:left;
	height:31px;
	background:url(../images/lbg.gif) repeat-x 0 -31px;
	line-height:32px;
	text-align:center;
	width:87px;
	border-right:1px solid #a8cee7;
}
.nav_ul .f_l {
	background:url(../images/f_l.gif) no-repeat 0 -31px;
}
.nav_ul .f_e {
	background:url(../images/f_e.gif) no-repeat right -31px;
	border:none;
}
.nav_ul li.click {
	background-position:0 0;
	color:#FFF
}
.unclicked {
	color: #3F637B;
	background: #F1F9FC;
	font-weight: none;
}
.clicked {
	color: #FFFFFF;
	background: #65BD8B;
	font-weight: bold;
}
#dBIncome {
	height: 20px;
	width: 40px;
	border: solid 1px #A6CFE5;
	padding: 0 0 0 20px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	overflow: hidden;
	cursor: pointer;
	float: left;
}
#dBTransfer {
	height: 20px;
	width: 40px;
	border-top: solid 1px #A6CFE5;
	border-bottom: solid 1px #A6CFE5;
	padding: 0 0 0 20px;
	overflow: hidden;
	cursor: pointer;
	float: left;
}
#dBOutcome {
	height: 20px;
	width: 40px;
	border: solid 1px #A6CFE5;
	padding: 0 0 0 20px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	overflow: hidden;
	cursor: pointer;
	float: left;
}
.RCBox {
	box-shadow: 2px 2px 5px #CBCDCC;
	border: solid 1px #99b4c9;
	border-radius:5px;
	background: #F8FDFF;
}

/* 详情 */
#dRightDetail {
	width: 100%;
	min-width: 830px;
	height: 208px;
	position: relative;
	z-index: 2;
}
* html #dRightDetail {
	width: expression((documentElement.clientWidth < 994) ? "830px" : "100%" );
}
#dRDBack {
	position: absolute;
	width: 100%;
	min-width: 780px;
	top: 0px;
	left: 10px;
	z-index: -1;
}
* html #dRDBack {
	width: expression((documentElement.clientWidth < 994) ? "830px" : "100%" );
}
#dRDContent {
	position: absolute;
	top: 8px;
	left: 10px;
	width: 98%;
	min-width: 750px;
	height: 200px;
	z-index: 2;
}
* html #dRDContent {
	width: expression((documentElement.clientWidth < 994) ? "750px" : "98%" );
}
#dRDBack1 {
	background: url(../images/rd1.gif);
	width: 12px;
	height: 207px;
	float: left;
}
#dRDBack2 {
	background: url(../images/rd2.gif);
	width: 22px;
	height: 207px;
	float: left;
}
#dRDBack3 {
	background: url(../images/rd3.gif);
	width: 17px;
	height: 207px;
	float: left;
}
#dRDBack4 {
	background: url(../images/rd2.gif);
	width: 50px;
	height: 207px;
	float: left;
}
#dRDBack5 {
	background: url(../images/rd5.gif);
	width: 12px;
	height: 207px;
	float: left;
}
#dRDetailTop {
	font-weight: bold;
	height: 22px;
	padding: 5px 0 0 20px;
}
#dRDetailBottom {
	padding: 10px 0 0 0;
}
#dRDetailLeft {
	width: 33%;
	min-width: 250px;
	float: left;
}
* html #dRDetailLeft {
	width: expression((documentElement.clientWidth < 994) ? "250px" : "33%" );
}
#sCurrency {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border: solid 1px #67ABDA;
	color: #43627E;
	width: 165px;
	height: 24px;
	float: right;
}
.sRWithPlus {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	border: solid 1px #67ABDA;
	color: #43627E;
	width: 142px;
	height: 24px;
	float: right;
}
.dValidation {
	min-height: 22px;
	clear: both;
}
* html .dValidation {
	height: 22px;
}
.dValidation .error {
	color: red;
}
.dRDRItem {
	padding: 0;
	width: 100%;
	clear: right;
	z-index: 4;
}
.span-5 {
	width: 165px;
}
.sRDRInput {
	float: left;
	width: 165px;
	position: relative;
}
.dRDRInput {
	background: url(../images/input.png) no-repeat bottom right;
}
.sRDRStar {
	float: left;
	color: red;
	margin: 2px 0 0 4px;
	font-family: "宋体";
}
#sDays {
	float: left;
	padding: 3px 0 0 5px;
}
.hasPlus .dRDRInput {
	background: none;
}
.dTextarea .dRDRInput {
	background: none;
}
.hasPlus .span-5 {
	float: left;
	width: 139px;
}
.hasPlus .span-5 .label {
	width: 130px;
}
.hasPlus .select .list {
	width: 140px;
}
.selectCurrency {
	float: left;
}
td.selectCurrency {
	float: none;
}
.selectCurrency .dRDRInput {
	background: url(../images/inputa.png) no-repeat;
	float: left;
	margin: 0 0 0 2px;
}
.selectCurrency input {
	border: 0;
	color: #43627E;
	width: 79px;
	padding: 0 5px 0 0;
	height: 24px;
}
.selectCurrency input.iDisabled {
	background: url(../images/inputad.png) !important;
	width: 74px;
	padding: 0 0 0 5px;
}
.addBox .dStep1 .select {
	float: left;
}
.addBox .selectCurrency {
	padding-right: 2px;
	width: 100%;
}
.addBox .selectCurrency .select {
	width: 79px;
}
.addBox .selectCurrency .select .label {
	width: 69px;
}
.hasPlus .select .button {
}
.select .button img {
	width: 23px;
	height: 24px;
}
.dRDRLabel {
	float: left;
	width: 28%;
	padding: 2px 0 0 0;
	min-width: 68px;
	text-align: right;
	font-weight: bold;
}
* html .dRDRLabel {
	width: expression((documentElement.clientWidth < 994) ? "68px" : "28%" );
}
.dRDRField {
	float: left;
	width: 71%;
	min-width: 177px;
	clear: right;
}
* html .dRDRField {
	width: expression((documentElement.clientWidth < 994) ? "177px" : "71%" );
}
* html #addAccount_step1 .dRDRField {
	width: 180px;
}
.aRPlus {
	background: url(../../images/selectplus.gif) no-repeat;
	text-decoration: none;
	width: 24px;
	height: 24px;
	float: left;
	clear: right;
	margin: 0 0 0 2px;
}
.iMoney {
	text-align: right;
	padding: 0 5px 0 0 !important;
}
#dRDetailRight {
	width: 33%;
	min-width: 250px;
	float: left;
	z-index: 3;
}
* html #dRDetailRight {
	width: expression((documentElement.clientWidth < 994) ? "250px" : "33%" );
}
.dRDetailSave {
	width: 33%;
	min-width: 250px;
	float: left;
	z-index: 4;
}
* html .dRDetailSave {
	width: expression((documentElement.clientWidth < 994) ? "250px" : "33%" );
}
#dRDRButtons {
	position: absolute;
	right: 10px;
	bottom: 20px;
}
#dRDRButtons img {
	cursor: pointer;
}

/* 中间的桔色条部分 */
#accountDiv {
	width: 100%;
	min-width: 476px;
	height: 32px;
	position: relative;
	margin: 20px 0 0 0;
}
#accountBack {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 10px;
}
#accountBack1 {
	background: url(../images/ad1.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ad1.png', sizingMethod='crop');
	width: 12px;
	height: 34px;
	float: left;
}
#accountBack2 {
	background: url(../images/ad2.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ad2.png', sizingMethod='scale');
	height: 34px;
	float: left;
}
#accountBack3 {
	background: url(../images/ad3.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ad3.png', sizingMethod='crop');
	width: 12px;
	height: 34px;
	float: left;
}
#accountInfo {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	padding: 7px 0 0 0px;
	color: #B67F08;
}
#dAIName {
	float: left;
	margin: 0 0 0 20px;
}
#dAISum {
	float: right;
	margin: 0 20px 0 0;
}
#dAIValue {
	color: red;
}

/* 右下角的记录 */
#dRightRecords {
	margin: 10px 0 0 10px;
	min-width: 476px;
	height: 600px;
	overflow:hidden;
	position: relative;
}
#dRight #dRightRecords {
	z-index: 1;
}
.dRRBackground {
	position: absolute;
}
.dRRBLeft {
	width: 9px;
	height: 24px;
	background: url(../images/tableleft.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tableleft.png', sizingMethod='crop');
	float: left;
}
.dRRBCenter {
	height: 24px;
	background: url(../images/tablecenter.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tablecenter.png', sizingMethod='scale');
	float: left;
}
.dRRBRight {
	width: 9px;
	height: 24px;
	background: url(../images/tableright.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tableright.png', sizingMethod='crop');
	float: left;
}
.dRightTable {
	width: 100%;
}
.transSelected {
	border-top: 1px solid #71C495 !important;
	border-bottom: 1px solid #71C495;
	background-color: #E6F4EC!important;
}
#dLoading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px;
	margin-top: -16px;
	height: 32px;
	width: 32px;
	z-index: 5000;
}
#dRTTitle {
	position:relative;
	margin: 0px 0 0 0;
	width: 1490px;
	height: 20px;
	padding: 7px 0 3px 18px;
	font-size: 14px;
	font-weight: bold;
	color: #0C5790;
}
#dRTHeader {
	height: 24px;
	position: relative;
	z-index: 1;
}
.dRTTable {
	padding: 0 0 0 0;
	width: 100%;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	_border-color: tomato; /*For IE6-*/
	_filter: chroma(color=tomato);/*For IE6-*/
}
.dRTTable td {
	text-align: center;
	padding: 2px 0 0;
	border-left: 1px solid #BFD6E6;
}
.dRTTable td:first-child {
	border-left: 1px solid transparent;
}
#dRRDetail {
	height: 124px;
	border-left: 1px solid #BFD6E6;
	border-bottom: 1px solid #BFD6E6;
	overflow:hidden;
	position: relative;
}
#main #dRRDetail {
	height: 93px;
}
#dRRDetail .dragger_container {
	height: 171px;
}
.tDetail1 {
	background: white;
}
.tDetail2 {
	background: #F5F7F9;
}
.dRightTable td {
	border-top: 1px solid #CFE1EF;
	border-right: 1px solid #BFD6E6;
	height: 30px;
	text-align: center;
	cursor: pointer;
}

/* 遮罩 */
.scover{
	position:absolute;
	top:0;
	left:0;
	background:#000;
	opacity: 0.4;
	filter: alpha(opacity=40);
	width: 100%;
	height: 10000px;
	z-index: 10;
}

.scover1{
	position:absolute;
	top:0;
	left:0;
	background:#000;
	opacity: 0.4;
	filter: alpha(opacity=40);
	width: 100%;
	height: 10000px;
	z-index: 290;
}

/* 弹出框 */
.closex {
	text-decoration: none;
	color: #105F92;
	position: absolute;
	top: 1px;
	right: 2px;
	line-height: 5px;
}
.addBox {
	text-align: center;
	background-color:#F7FCFF;
	width:200px;
	z-index:300;
	float: left;
}
.addBox select {
	float: right;
	margin: 0 20px 0 0;
	width: 167px;
	height: 25px;
}
#main {
	z-index:200;
	float: left;
}
.addBox h1 {
	color: white;
	text-align: left;
	position: absolute;
	top: -6px;
	left: 20px;
	*top: 6px;
}
#main #currency {
	float: left;
}
#main #balance {
	float: right;
	text-align: right;
}
#main #bank {
	width: 142px;
	margin: 0 0 0 0;
}
#addAccount_step2 {
	float: left;
	width: 676px;
	padding: 0 0 0 5px;
	margin: 10px 0 0 0;
	text-align: left;
}
#addAccount_step2 select {
	float: left;
}
.editArea .bDelete {
	position: absolute;
	bottom: 0px;
	right: 140px;
	height: 25px;
	width: 42px;
	background: url(../../images/del_btn.gif) no-repeat;
	cursor: pointer;
}
.editArea .bCancel {
	position: absolute;
	bottom: 0px;
	right: 90px;
	height: 25px;
	width: 42px;
	background: url(../../images/cancel_btn.gif) no-repeat;
	cursor: pointer;
}
.editArea .bAdd {
	position: absolute;
	bottom: 0px;
	right: 40px;
	height: 25px;
	width: 42px;
	background: url(../../images/save_btn.gif) no-repeat;
	cursor: pointer;
}
#bOK {
	margin: 40px 0 0 0;
}
#addAccount_step2 table,#addAccount_step2 table td {   
    align:center;  
}
.dEABack1 {
	background: url(../images/ea1.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ea1.png', sizingMethod='crop');
	width: 11px;
	height: 30px;
	float: left;
}
.dEABack2 {
	background: url(../images/ea2.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ea2.png', sizingMethod='scale');
	height: 26px;
	padding: 4px 0 0 0;
	float: left;
	color: #3E637C;
	font-weight: bold;
}
.dEABack3 {
	background: url(../images/ea3.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ea3.png', sizingMethod='crop');
	width: 11px;
	height: 30px;
	float: left;
}
.editArea {
	width: 398px;
	height: 142px;
	background: white;
	border-left: 1px solid #A9C2D5;
	border-right: 1px solid #A9C2D5;
	float: left;
	position: relative;
	z-index: 2;
}
#addBank_step1 .editArea {
	width: 198px;
	height: 100px;
}
.editArea table {
	margin: 0 9px;
}
#dEALeft {
	float: left;
	width: 50%;
	margin: 10px 0;
}
#addMyBank #dEALeft {
	width: 100%;
}
#dEARight {
	float: right;
	margin: 10px 0;
	width: 50%;
}
#dEAButtons {
	width: 100%;
	height: 25px;
	float: left;
	position: relative;
}
.dEAItem {
	clear: both;
	width: 100%;
}
.dEAIInput {
	float: right;
}
#aType {
	float: left;
	width: 165px;
}
.dEABack7 {
	background: url(../images/ea7.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ea7.png', sizingMethod='crop');
	width: 7px;
	height: 15px;
	float: left;
}
.dEABack8 {
	height: 14px;
	font-size: 0pt;
	background: white;
	border-bottom: 1px solid #A9C2D5;
	float: left;
}
.dEABack9 {
	background: url(../images/ea9.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/ea9.png', sizingMethod='crop');
	width: 7px;
	height: 15px;
	float: left;
}
#dUpperTable {
	height: 160px;
	overflow: auto;
}
#main #dUpperTable {
	height: 120px;
}
.dSATitle {
	color: #3E637C;
	font-weight: bold;
}
#myTable {
	width: 100%;
}
#myTable th, #myTable td {
	border: 1px solid #BFD6E6;
	text-align: center;
}
.deleteSub{
	border-radius:5px;
	background-color:#F7FCFF;
	height:350px;
	width:280px;
	overflow:hidden;
	position:absolute;
	top:30%;
	left:50%;
	margin-left:-200px;
	z-index:400;
}
.getCreditCardBillList {
	border-radius:5px;
	background-color:#F7FCFF;
	height:600px;
	width:1000px;
	overflow:hidden;
	position:absolute;
	top:30%;
	left:50%;
	margin-left:-200px;
	z-index:200;
}
.dStep1 {
	width: 300px;
	padding: 0 0 0 5px;
	text-align: left;
	float: left;
	margin: 10px 0 0 0;
}
#getCreditCardBillList .dStep1 {
	width: 180px;
}
#addAccount_step1 {
	float: left;
}
#addAccount_step1 input.iMoney {
	float: right;
}
#addAccount_step1 select {
	float: right;
	margin: 0 20px 0 0;
	width: 167px;
	height: 25px;
}
#addAccount_step1 button {
	width: 100px;
	height: 30px;
	top: 300px;
	left: 100px;
	position: absolute;
}
#mainboxBg .oplist li span.del_btn {
	background: url(../../images/delacc_btn.gif) no-repeat;
	width: 98px;
}
#mainboxBg .yes_btn {
	background: url(../../images/save_btn.gif) no-repeat;
}
#mainboxBg .editArea .bAdd {
	background: url(../../images/yes_btn.gif) no-repeat;
}
#getCreditCardBillListboxBg .yes_btn {
	background: url(../../images/yes_btn.gif) no-repeat;
}
.yes_btn {
	background: url(../../images/back_btn.gif) no-repeat;
}

/* 用于report的css */
#dReportButtons {
	height: 35px;
	padding: 5px 0 0 10px;
	background: #E9F1F7;
	border-bottom: 1px solid #B2C9DA;
}
.ui-tabs-vertical {
	width: 55em;
}
.ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 12em;
}
.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}
.ui-tabs-vertical .ui-tabs-nav li a {
	display:block;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;
}
.ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: right;
}
.vui-tabs {
	background: none;
	border-left: 0;
	border-bottom: 0;
	border-top: 0;
	height: 1000px;
}
.rvheader {
	text-align: center;
	margin: 15px auto 0;
	width: 500px;
	height: 25px;
}
.rvtitle {
	text-align: center;
	color: #9C9C9C;
}
.sRVTitle {
	color: #F93D3D;
	font-weight: bold;
}
.rvcharts {
	margin: 20px auto;
}
.rvchart {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
}
#rv1middle {
	float: left;
	width: 2%;
	height: 100%;
}
#rv1mline {
	width: 50%;
	height: 100%;
	float: left;
	border-right: 1px dashed #A9C2D5; 
}
.dMainTab {
 	height: 26px;
	padding: 5px 0 0 5px;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}
.dSelectTab {
	background: url(../images/sabg.gif);
}
.dbutton {
	width: 86px;
	height: 25px;
	cursor: pointer;
}
#dprev {
	background: url(../images/prev.png);
	float: left;
}
#dnext {
	background: url(../images/next.png);
	float: right;
}
#headertext {
	float: left;
	width: 328px;
	font-weight: bold;
	text-align: center;
}
.rvbottom {
	border-top: 1px solid #B2C9DA;
	background: #FBFCFD;
}
.rvbottombar {
	height: 37px;
	color: #9C9C9C;
}
.io1 {
	background: url(../images/io1.png);
	width: 10px;
	height: 37px;
	float: left;
}
.io2 {
	height: 37px;
	background: url(../images/io2.png);
	float: left;
	margin: auto;
}
.io3 {
	background: url(../images/io3.png);
	width: 13px;
	height: 37px;
	float: left;
}
.io4 {
	height: 37px;
	background: url(../images/io4.png);
	float: left;
	margin: auto;
}
.io5 {
	background: url(../images/io5.png);
	width: 10px;
	height: 37px;
	float: left;
}
.ionumin {
	float: left;
	margin: 6px 5px 0 0;
}
.ionumout {
	float: left;
	margin: 6px 0 0 5px;
}
#rv1bottomtitle {
	clear: both;
	text-align: center;
	color: #105D91;
	font-weight: bold;
}
#dSpecifyDates {
	position: absolute;
	width: 130px;
	height: 100px;
	top: 170px;
	left: 10px;
	line-height: 30px;
	text-align: center;
}
#dSpecifyDates input {
	width: 110px;
}

#already ul {
	list-style-position:inside;
}
/* 弹出框背景设置 */
.boxBg1 {
	background: url(../images/box1.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/box1.png', sizingMethod='crop');
	width: 19px;
	height: 36px;
	float: left;
}
.boxBg2 {
	background: url(../images/box2.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/box2.png', sizingMethod='scale');
	width: 180px;
	height: 36px;
	float: left;
}
.boxBg3 {
	background: url(../images/box3.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/box3.png', sizingMethod='crop');
	width: 19px;
	height: 36px;
	float: left;
	clear: right;
}
.boxBg4 {
	background: url(../images/box4.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/box4.png', sizingMethod='scale');
	width: 18px;
	height: 180px;
	float: left;
}
.boxBg5 {
	background-color:#F7FCFF;
	width: 180px;
	height: 180px;
	float: left;
}
.boxBg6 {
	background: url(../images/box6.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/box6.png', sizingMethod='scale');
	width: 18px;
	height: 180px;
	float: left;
	clear: right;
}
.boxBg7 {
	background: url(../images/box7.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/box7.png', sizingMethod='crop');
	width: 18px;
	height: 63px;
	float: left;
}
.boxBg8 {
	background: url(../images/box8.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/box8.png', sizingMethod='scale');
	width: 180px;
	height: 63px;
	float: left;
}
.boxBg9 {
	background: url(../images/box9.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/box9.png', sizingMethod='crop');
	width: 18px;
	height: 63px;
	float: left;
	clear: right;
}
.boxClose {
	background: url(../images/close.png);
	width: 26px;
	height: 21px;
	position: absolute;
	top: 4px;
	right: 11px;
	cursor: pointer;
}
.boxBg {
	z-index: 200;
	width: 216px;
	height: 216px;
}

/* 定制下拉框风格 */
.select {
	color:#1e1e1e;
	font-size:14px;
	
	position:relative;
	min-width:10px;
	
	height: 24px;
	margin: 0;
	border: 0;
}
.select .label {
	background: url(../../images/selectleft.png) no-repeat;
	color: #6F7D86;
	height: 24px;
	width: 142px;
	font-size:12px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	padding: 2px 0 0 5px;
	margin: 0;
}
.select .label img {
	vertical-align:middle;
	overflow:hidden;
	margin:0;
	padding:0 5px 0 2px;
}
.select .button {
	color:#ffffff;
	font-size:14px;
	text-align:center;
	
	position:absolute;
	margin:0;
	cursor:pointer;
	
	padding: 0;
	border-width: 0;
	right: 0;
	top: 0;
	background: none;
	width: 23px;
	height: 24px;
}
.select .button img {
	rotation: 0deg;
	-moz-transform: rotate(0deg);
	-webkit-transition: -webkit-transform 0.15s linear;
	-webkit-transform: rotate(0deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
.select .button.active img {
	rotation: 90deg;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.select .list {
	position:absolute;
	top: 24px;
	left: -1px;
	width: 165px;
	
	margin-top: 2px;
	
	max-height: 260px;
	overflow-x: hidden;
	overflow-y: auto;
	border:solid #68ABD8 1px;
}
* html .select .list {
	height: expression((this.scrollHeight > 260) ? "260px" : "auto" );
}
.select .span-6 {
	width: 155px;
}
.addBox .selectCurrency .select .list {
	width: 80px;
}
.addBox .selectCurrency .select .span-6 {
	width: 70px;
}
.select .optgroup {
	color:#1e1e1e;
	font-weight:bold;
	font-size:12px;
	
	padding:5px;
	margin:0;
	
	background: #f2f2f2;
	background: -moz-linear-gradient(100% 100% 90deg, #dfdfdf, #f2f2f2);
	background: -webkit-gradient(linear, left bottom, left top, from(#dfdfdf), to(#f2f2f2));
}
.select .optgroup img {
	vertical-align:middle;
	overflow:hidden;
	margin:0;
	padding:0 5px 0 0;
}
.select .option {
	color:#6F7D86;
	font-size:12px;
	
	padding:5px;
	cursor:pointer;
	line-height: 16px;
	white-space: nowrap;
	
	background: #F7FBFE;
}
.select .option img {
	vertical-align:middle;
	overflow:hidden;
	margin:0;
	padding:0 5px 0 0;
}
.select .option.bottom {
	border-bottom:none;
}
.select .firstCat {
	font-weight: bold;
}
.select .secondCat {
	padding-left: 15px;
}
input.button {
	color:#ffffff;
	font-size:14px;
	
	height:32px;
	padding:0 5px 0 5px;
	margin:6px;
	cursor:pointer;
	
	border-top:solid #6199D7 1px;
	border-right:solid #224F80 1px;
	border-bottom:solid #002F65 1px;
	border-left:solid #224F80 1px;
	
	background: -moz-linear-gradient(100% 100% 90deg, #224F80, #3278C4);
	background: -webkit-gradient(linear, left bottom, left top, from(#224F80), to(#3278C4));
	
	text-shadow: #1e1e1e 1px 1px 1px;
}
