@charset "utf-8";
html {
	overflow: hidden;
	height: 100%;
	width: 100%;
	line-height: 1.8em;
	font-family: Verdana, Arial, Helvetica, sans-serif, "宋体";
	font-size: 12px;
	color: #105d91;
}
body {
	height: 100%;
}
body, ul, li, table, td, tr, tbody, button, dl, dd, dt {
	padding: 0;
	margin: 0;
}
table {
	border-collapse: collapse;
	table-layout: fixed;
}
th, td {
	white-space: nowrap;
	overflow: hidden;
}

/* 卷滚条 */
.customScrollBox {
	position: relative;
	margin: 0 0 0 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}
.customScrollBox .container {
	position: relative;
	width: 100%;
	top: 0;
	float: left;
}
.customScrollBox .content {
	clear:both;
}
.dragger_container {
	position:relative;
	width:12px;
	float:left;
	cursor:pointer;
	box-shadow:inset 0 0 10px #BFDBE9;
	-moz-box-shadow:inset 0 0 10px #BFDBE9;
	-webkit-box-shadow:inset 0 0 10px #BFDBE9;
	display: none; /* 这个版本先暂时不管自定义卷滚条的事情 */
}
.dragger{
	position:absolute;
	width:9px;
	height:10px;
	background:#FFFDFD;
	text-align:center;
	margin-left:1px;
	line-height:10px;
	color:#57A5D5;
	overflow:hidden;
	border:1px solid #A2BBC0;
	cursor:pointer;
}
.dragger_pressed {
	position:absolute;
	width:6px;
	height:60px;
	background:#444;
	text-align:center;
	margin-left:1px;
	line-height:60px;
	color:#777;
	overflow:hidden;
	border-left:1px solid #878787;
	border-right:1px solid #000;
	cursor:pointer;
}

/* 左侧 */
#dLeft {
	float: left;
	width: 22%;
	height: 100%;
	min-width: 165px;
	overflow: hidden;
	border-right: 1px solid #ABC0D1;
	background: #F7FCFF;
}
* html #dLeft {
	width: expression((documentElement.clientWidth < 750) ? "165px" : "22%" );
}
#dLeftHeader {
	height: 28px;
	background: #E9F1F7;
	font-weight: bold;
	padding: 10px 0 0 5px;
}
.dBlockHeader {
	height: 25px;
	background: #DBE8F0;
	border-top: 1px solid #A9C2D5;
	padding: 5px 0 0 5px;
}
.dBItem {
	height: 23px;
	background: #F7FCFF;
	padding: 2px 0 0 5px;
}
/* 右侧 */
#dRight {
	float: left;
	overflow: hidden;
}
/* 右下角的记录 */
#dRightRecords {
	margin: 10px 0 0 10px;
	min-width: 476px;
	height: 600px;
	overflow:hidden;
	position: relative;
}
#dRight #dRightRecords {
	z-index: 1;
}
.dRRBackground {
	position: absolute;
}
.dRRBLeft {
	width: 9px;
	height: 24px;
	background: url(../../images/tableleft.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/tableleft.png', sizingMethod='crop');
	float: left;
}
.dRRBCenter {
	height: 24px;
	background: url(../../images/tablecenter.png);
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/tablecenter.png', sizingMethod='scale');
	float: left;
}
.dRRBRight {
	width: 9px;
	height: 24px;
	background: url(../../images/tableright.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/tableright.png', sizingMethod='crop');
	float: left;
}
.dRightTable {
	width: 100%;
}
#dRTHeader {
	height: 24px;
	position: relative;
	z-index: 1;
}
.dRTTable {
	padding: 0 0 0 0;
	width: 100%;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	_border-color: tomato; /*For IE6-*/
	_filter: chroma(color=tomato);/*For IE6-*/
}
.dRTTable td {
	text-align: center;
	padding: 2px 0 0;
	border-left: 1px solid #BFD6E6;
}
.dRTTable td:first-child {
	border-left: 1px solid transparent;
}
#dRRDetail {
	border-left: 1px solid #BFD6E6;
	border-bottom: 1px solid #BFD6E6;
	overflow:hidden;
	position: relative;
}
.tDetail1 {
	background: white;
}
.tDetail2 {
	background: #F5F7F9;
}
.dRightTable td {
	border-top: 1px solid #CFE1EF;
	border-right: 1px solid #BFD6E6;
	height: 30px;
	text-align: center;
	cursor: pointer;
}
